#header {
    margin: 110px;
}

table tr td {
    border: 1px solid #000;
    padding: 10px;
}

table {
    margin: auto;

}

.target {
    background-color: red;
}

.start {
    background-color: green;
}